.container{
    width: 600px;
    margin: 0 auto;
}

.name-client{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid red;
    border-radius: 25px 00 25px;
}

.logo{
    width: 25%;
}

img{
    max-width: 100%;
}

.container > p {
    border: 5px solid black;
    margin: 0;
    padding: 1em 0.5em;
    border-bottom: 0;
}

.container :last-child{
    border-bottom: 5px solid black;
    border-radius: 0 0 25px 0;
}

#chilometri{
    border-radius: 0 25px 0 0;
}