.container{
    width: 600px;
    margin: 0 auto;
}

.name-client{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid red;
    border-radius: 25px 00 25px;
}

.logo{
    width: 25%;
}

img{
    max-width: 100%;
}